* {
  margin: 0;
  padding: 0;
  color: #333;
}

/* ---------------CSS For App.js Component--------------- */

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #008080;
  color: #333333;
  -webkit-box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.75);
}

.content-container {
  margin-left: 200px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-bottom: solid 1px #999;
}

.userCard-container {
  display: flex;
  justify-content: center;
}

/* ---------------CSS For Sidebar.js Component--------------- */

.sidebar-main {
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo-container {
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 400px;
  width: 100%;
  margin-top: 20px;
}

.links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
.links a:hover {
  background-color: #00bbbb;
}

.active {
  background-color: #005959;
}

/* ---------------CSS For UserCard.js Component--------------- */

.userCard {
  width: 250px;
  height: 150px;
  margin: 25px;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 128, 128, 1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 128, 128, 1);
  box-shadow: 0px 0px 7px 1px rgba(0, 128, 128, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.userCard:hover {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 128, 128, 1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 128, 128, 1);
  box-shadow: 0px 0px 10px 3px rgba(0, 128, 128, 1);
}

.userCard img {
  margin-bottom: 5px;
}

/* ---------------CSS For UserDetails.js Component--------------- */

.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.close-button {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  border-radius: 0;
  border: none;
  outline: none;
  color: #f4f4f4;
  background-color: #008080;
  font-size: 18px;
}
.close-button:hover {
  background-color: #00bbbb;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
}

.modal-header {
  height: 75px;
  border-bottom: 1px solid #999;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-header h4 {
  margin: 0px 10px;
}

.date-selector {
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.date-selector .react-datepicker-wrapper {
  margin: 10px;
}

.react-datepicker__input-container {
  width: 80% !important;
}
.react-datepicker__input-container input {
  border-radius: 0 !important;
  padding: 10px !important;
  border: none;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.react-datepicker__input-container input:focus {
  outline: none;
  border: none;
}
/* ---------------CSS For UserActivity.js Component--------------- */

.eachActivity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 70px;
  margin: 10px 0px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.eachActivity:hover {
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
}

.CircularProgressbar {
  width: 50px;
  height: 50px;
  width: 15% !important;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #008080 !important;
}
.CircularProgressbar-text {
  font-size: 22px !important;
  font-weight: 500 !important;
  fill: #333 !important;
}

.firstLine {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
